

<h1><%= @sign_up.first %></h1>

<p><%= @sign_up.last %></p>

<ul>
  <li><%#= link_to "Edit", edit_sign_up_path(@sing_up) %></li>
  <li><%#= link_to "Destroy", sing_up_path(@sign_up),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

